<div *ngIf="show" class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="title" [(ngModel)]='myTask.title' name="name" />
      <p class="SMessage">* Cannot be Empty</p>
      <textarea rows="4" cols="31" placeholder="description" [(ngModel)]='myTask.description' name="description">
          </textarea>
      <button (click)="onAdd()">create task</button>
    </form>
  </div>
</div>
<div *ngIf="!show" class="login-page">
  <div class="form">
    <form class="login-form">
      <p class="BMessage">Please
        <a routerLink="/login">Login</a> in order to Add tasks</p>
    </form>
  </div>
</div>