.text-success {
    color: rgb(9, 216, 2)!important;
}
.list-group-item {
    font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
}
.mat-expansion-panel-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
input {
  
    border-width: 0px;
   
}
textarea { 
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.788);
    border-radius: 5px;
    
}
.un-checked {
    border-left: 4px solid rgba(190, 44, 0, 0.85);
}
.checked {
    border-left: 4px solid rgba(9, 216, 2, 0.85);
}        