<body>
    <style>
        </style>
        
  <div class="bw-gradient"></div>
  <div class="header">
    <div class="sub-header">
      <ul class="left-menu">
        <li>
            <a  [matBadge]="TasksNumber" matBadgeColor="accent" matBadgePosition="before" routerLink="/viewTasks">VIEW TASKS</a>
        </li>
        <li>
            <a routerLink="/addTask">ADD TASK</a>
        </li>
      </ul>
      <div class="logo">
        <a>Welcome {{currentUser.username}}</a>
      </div>
      <ul class="right-menu">
        <li>
            <a routerLink="/registration">SIGNUP</a>
         
        </li>
        <li>
            <a routerLink="/login">LOGIN</a>
        </li>
        
      </ul>
    </div>

  </div>
 
  <router-outlet ></router-outlet>
</body>